// Variable overrides first
$primary: rgb(1, 145, 189);
$enable-shadows: true;
$secondary: rgb(118, 245, 118);
$prefix: "mo-";
$blue-sapphire: #22577aff;
$cadet-blue: #38a3a5ff;
$ocean-green: #57cc99ff;
$light-green: #80ed99ff;
$tea-green: #c7f9ccff;
$minpad:1em;
$minmar:1em;
$borderrad:10%;
// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";